body {
    background-image: url("../background.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.card {
    background-color: rgba(189, 195, 199, .70);
}
